/.git
/.git-local
/.bundle
/.env*
!/.env.example
/.kamal/secrets
/config/credentials/*.key
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-*
/log/*
/storage/*
/tmp/*
!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids
/tmp/pids/*
!/tmp/pids/.keep
/vendor/bundle

.DS_Store
